.contatos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.contatos a {
    text-decoration: none;
    background-color: #07cee9;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
    font-family: 'Orbitron', sans-serif;
}


.contatos a:hover {
    background-color: #58046d;
    transform: scale(1.05);
}

/* Container do slider */
.slider {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 350px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 12px;
}

/* Linha de slides */
.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

img {
    max-width: 100%;
}


/* Cada imagem */
.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    cursor: pointer;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* botão base */
.buttons button {
  position: absolute;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  pointer-events: auto;
}

/* esquerda */
.buttons button:first-child {
  left: 10px;
}

/* direita */
.buttons button:last-child {
  right: 10px;
}

.buttons button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}

.perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 1rem;
}




h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 20px;
}

body {
    background: linear-gradient(270deg, #071042, #4361ee, #39195a, #1e74d6);
    background-size: 800% 800%;
    animation: gradientMove 30s ease infinite;
    min-height: 100vh;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1,
h2 {
    font-family: 'Orbitron', sans-serif;
}

p,
a {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
p {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}


@media (max-width: 600px) {
  .slider {
    height: 200px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .contatos {
    flex-direction: column;
    gap: 10px;
  }
}