.contatos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.contatos a {
    text-decoration: none;
    background-color: #07cee9;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 15px #038888;
}


/*botão quem sou eu*/
.btn-sobre {
display: flex;
align-items: center;
position: relative;
z-index: 999;
gap: 10px;
margin: auto;
padding: 12px 25px;
background: #07cee9;
color: white;
border: none;
border-radius: 10px;
cursor: pointer;
font-family: 'Orbitron', sans-serif;
transition: 0.3s;
}

/*hover*/

.btn-sobre:hover {
box-shadow: 0 0 20px #07cee9;
transform: translateY(-2px);


}

/*seta*/
.seta {
    transition: 0.3s;
}

/*seta ativa*/
.btn-sobre.ativo .seta {
    transform: rotate(180deg);
}

/*caixa de texto*/
.sobre-box {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.sobre-box.ativo {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}
.sobre-box p {
max-width: 600px;
margin: 0 auto;
text-align: justify;
line-height: 1.6;



background: rgba(255, 255, 255, 0.05);
padding: 15px;
border-radius: 10px;
backdrop-filter: blur(5px);

}



.contatos a:hover {
    background-color: #58046d;
    transform: scale(1.05);
    transform: translateY(-3px);
     box-shadow: 0 8px 20px rgba(174, 0, 255, 0.74);
}

/* Container do slider */
.slider {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 350px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 12px;
}

/* Linha de slides */
.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

img {
    max-width: 100%;
}


/* Cada imagem */
.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    cursor: pointer;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: auto;
  transform: translateY(-50%);
  pointer-events: none;
}

/* botão base */
.buttons button {
  position: absolute;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  pointer-events: auto;
}

/* esquerda */
.buttons button:first-child {
  left: 10px;
}

/* direita */
.buttons button:last-child {
  right: 10px;
}

.buttons button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}

.perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
   border: 5px solid #ffffff;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.918);
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 1rem;
}



h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 20px;
}

body {
    background: linear-gradient(270deg, #071042, #4361ee, #39195a, #1e74d6);
    background-size: 800% 800%;
    animation: gradientMove 30s ease infinite;
    min-height: 100vh;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1,
h2 {
    font-family: 'Orbitron', sans-serif;
}

p,
a {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
p {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

h3 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 10px;
}


@media (max-width: 600px) {
  .slider {
    height: 200px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .contatos {
    flex-direction: column;
    gap: 10px;
  }
}

.skills {
  text-align: center;
  margin-top: 40px;
}

.terminal {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  color: #00ffcc;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 0 20px #07cee9;
}

.skill {
  margin: 15px 0;
  text-align: left;
}

.barra {
  width: 100%;
  height: 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
  overflow: hidden;
}

.progresso {
  height: 100%;
  width: 0;
  transition: 1s ease;
}

.terminal h3 {
  margin-top: 20px;
  color: #07cee9;
  text-shadow: 0 0 10px #07cee9;
}

/* níveis */
.progresso.html { width: 40%; background: #07cee9; }
.progresso.css { width: 50%; background: #00ffcc; }
.progresso.js { width: 70%; background: #00bfff; }
.progresso.ps { width: 80%; background: #31a8ff; }
.progresso.corel { width: 85%; background: #00ffcc; }
.progresso.figma { width: 75%; background: #a259ff; }
.progresso.git { width: 70%; background: #f12f2f; }
.progresso.workbench { width: 80%; background: #00ff08; }
.progresso.phpadm { width: 80%; background: #00ffcc; }
.progresso.mysql { width: 80%; background: #33ff00; }
.progresso.postgre { width: 60%; background: #e5ff00; }

#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}